[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2019.9.11"
chardet = "==3.0.4"
django-debug-toolbar = "==2.2.1"
idna = "==2.8"
pipfile = "==0.0.2"
pyperclip = "==1.7.0"
pytz = "==2019.2"
requests = "==2.22.0"
sqlparse = "==0.3.0"
toml = "==0.10.0"
urllib3 = "==1.25.8"
Django = "==2.2.21"
Pillow = "*"
psycopg2-binary = "==2.8.5"
django-environ = "*"
django-import-export = "*"
django-storages = "==1.6.5"
boto3 = "==1.4.7"
uWSGI = "==2.0.15"
wheel = "*"

[requires]
python_version = "3.8"
